{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="content">
        <div class="profile">
            <div class="presentation">
                <div class="presentation--container">
                    <div class="avatarContainer">
                        <img class="avatarContainer--avatar" src="{{ app.user.avatar }}" alt="">
                    </div>
                    <p class="presentation--container_nickname">{{ app.user.nickname }}</p>
                </div>
                <div class="presentation--control">
                    <a class="btn btn-primary" href="{{ path('app_profile') }}">Mes informations</a>
                    <a class="btn btn-primary" href="{{ path('app_editProfilePicture') }}">Modfier l'avatar</a>
                    <a class="btn btn-primary" href="{{ path('app_updatePassword') }}">Modifier le mot passe</a>
                </div>
            </div>
            <div class="utility">
                {% block profile_utility %}
                    <p>Info</p>
                    <p>Info</p>
                    <p>Info</p>
                    <p>Info</p>
                    <p>Info</p>
                {% endblock %}    
            </div>
        </div>
    </div>
{% endblock %}
