{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="content">
        <div class="profile">
            <div class="presentation">
                <div class="presentation--container">
                    <div class="avatarContainer">
                        <img class="avatarContainer--avatar" src="{{ app.user.avatar }}" alt="">
                    </div>
                    <p class="presentation--container_nickname">{{ app.user.nickname }}</p>
                </div>
                <div class="presentation--control">
                    <a class="btn btn-primary" href="{{ path('app_profile') }}">Mes informations</a>
                    <a class="btn btn-primary" href="{{ path('app_editProfilePicture') }}">Modfier l'avatar</a>
                    <a class="btn btn-primary" href="{{ path('app_updatePassword') }}">Modifier le mot passe</a>
                </div>
            </div>
            <div class="utility">
                {% block profile_utility %}
                    <div class="profileArticle">
                        {% for article in articles %}
                            <div class="profileArticle--article box">
                                <p>{{ article.title }}</p>
                                <a href='{{ path('app_show_article', { id: article.id }) }}' class='btn btn-primary'>Voir l'article</a>
                                <a href='{{ path('app_modify_article', { id: article.id }) }}' class='btn btn-secondary'>Modifer l'article</a>
                                <form method="POST" action="{{ path('app_delete_article', { id: article.id }) }}">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}" >
                                    <button class='btn btn-danger' type='submit'>Supprimer</button>
                                </form>
                            </div>
                        {% endfor %}
                    </div>
                    {% include "layout/pagination.html.twig" with {'numberOfPages' : numberOfPages, 'page_localisation' : 'app_profile' } %}
                {% endblock %}    
            </div>
        </div>
    </div>
{% endblock %}
